deployment:
  kind: Deployment
  replicas: 3
  annotations:
    reloader.stakater.com/auto: "true"

service:
  type: LoadBalancer
  spec:
    loadBalancerIP: "10.119.20.20"

ports:
  traefiksecure:
    port: 9443
    expose:
      default: true
    http:
      tls:
        enabled: true
  web:
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    asDefault: true
    transport:
      respondingTimeouts:
        readTimeout: 60m
        writeTimeout: 60m
        idleTimeout: 60m

gateway:
  listeners:
    web: &web_listener
      port: 8000
      hostname: "*.balutoiu.com"
      protocol: HTTP
      namespacePolicy:
        from: Same
    web-root:
      <<: *web_listener
      hostname: "balutoiu.com"
    websecure: &websecure_listener
      port: 8443
      hostname: "*.balutoiu.com"
      protocol: HTTPS
      namespacePolicy:
        from: All
      certificateRefs:
        - name: le-wildcard-balutoiu-com-tls
    websecure-root:
      <<: *websecure_listener
      hostname: "balutoiu.com"

ingressClass:
  enabled: true
  isDefaultClass: false
  name: traefik-external

gatewayClass:
  enabled: true
  name: traefik-external
  labels:
    traefik: external

providers:
  kubernetesCRD:
    enabled: true
    ingressClass: traefik-external
    allowCrossNamespace: true
    allowExternalNameServices: true
  kubernetesIngress:
    enabled: true
    ingressClass: traefik-external
  kubernetesGateway:
    enabled: true
    labelSelector: "traefik=external"
  file:
    enabled: true
    watch: false
    content: |
      tls:
        certificates:
          - certFile: /certs/wildcard-balutoiu-com/tls.crt
            keyFile: /certs/wildcard-balutoiu-com/tls.key

volumes:
  - name: le-wildcard-balutoiu-com-tls
    mountPath: "/certs/wildcard-balutoiu-com"
    type: secret

ingressRoute:
  dashboard:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: traefik-external
    matchRule: Host(`traefik.balutoiu.com`)
    entryPoints:
      - "traefiksecure"

resources:
  requests:
    cpu: 5m
    memory: 256Mi
  limits:
    memory: 256Mi

metrics:
  prometheus:
    service:
      enabled: true
    serviceMonitor:
      enabled: true
    prometheusRule:
      enabled: true
      rules:
        - alert: TraefikServiceDown
          expr: count(traefik_service_server_up) by (service) == 0
          for: 0m
          labels:
            severity: critical
          annotations:
            summary: "Traefik service down."
            description: >-
              Traefik service down: `{{ $labels.service }}`."

        - alert: TraefikHighHttp4xxErrorRateService
          expr: |
            (
              sum by (exported_service) (
                rate(traefik_service_requests_total{code=~"4.*"}[3m])
              )
              /
              sum by (exported_service) (
                rate(traefik_service_requests_total[3m])
              )
              * 100
            ) > 25
            and
            (
              sum by (exported_service) (
                increase(traefik_service_requests_total[3m])
              ) > 300
            )
          for: 1m
          labels:
            severity: critical
          annotations:
            summary: "Traefik high HTTP 4xx error rate service."
            description: >-
              Traefik service 4xx error rate is above 25% for service `{{ $labels.exported_service }}`. Current value is `{{ printf "%.2f" $value }}%`.

        - alert: TraefikHighHttp5xxErrorRateService
          expr: |
            (
              sum by (exported_service) (
                rate(traefik_service_requests_total{code=~"5.*"}[3m])
              )
              /
              sum by (exported_service) (
                rate(traefik_service_requests_total[3m])
              )
              * 100
            ) > 5
            and
            (
              sum by (exported_service) (
                increase(traefik_service_requests_total[3m])
              ) > 100
            )
          for: 1m
          labels:
            severity: critical
          annotations:
            summary: "Traefik high HTTP 5xx error rate service."
            description: >-
              Traefik service 5xx error rate is above 5% for service `{{ $labels.exported_service }}`. Current value is `{{ printf "%.2f" $value }}%`.
