global:
  domain: argo.internal.balutoiu.com
  securityContext:
    fsGroup: 999

controller:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
    rules:
      enabled: true
      spec:
        - alert: ArgoAppMissing
          expr: absent(argocd_app_info)
          for: 15m
          labels:
            severity: critical
          annotations:
            summary: "No reported Argo CD applications."
            description: >-
              ArgoCD has not reported any applications data for the past 15 minutes which
              means that it must be down or not functioning properly.
        - alert: ArgoAppNotSynced
          expr: argocd_app_info{sync_status!="Synced"} != 0
          for: 2h
          labels:
            severity: warning
          annotations:
            summary: "Argo CD application is not synced."
            description: >-
              Argo CD application `{{ $labels.name }}` has sync status as `{{ $labels.sync_status }}`.
        - alert: ArgoAppUnhealthy
          expr: argocd_app_info{health_status!="Healthy"} != 0
          for: 2h
          labels:
            severity: critical
          annotations:
            summary: "Argo CD application is unhealthy."
            description: >-
              Argo CD application `{{ $labels.name }}` has health status as `{{ $labels.health_status }}`.
  resources:
    requests:
      cpu: 120m
      memory: 1Gi
    limits:
      memory: 1Gi

redis:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
    limits:
      memory: 100Mi

applicationSet:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  ingress:
    enabled: true
    hostname: argo-applicationset.balutoiu.com
    path: /api/webhook
    ingressClassName: traefik-external
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
    limits:
      memory: 100Mi

server:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  ingress:
    enabled: true
    ingressClassName: traefik-internal
  resources:
    requests:
      cpu: 10m
      memory: 512Mi
    limits:
      memory: 512Mi

dex:
  enabled: true
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  resources:
    requests:
      cpu: 10m
      memory: 256Mi
    limits:
      memory: 256Mi

repoServer:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  env:
    - name: HELM_PLUGINS
      value: /gitops-tools/helm-plugins/
    - name: HELM_SECRETS_CURL_PATH
      value: /gitops-tools/curl
    - name: HELM_SECRETS_SOPS_PATH
      value: /gitops-tools/sops
    - name: HELM_SECRETS_BACKEND
      value: sops
    # https://github.com/jkroepke/helm-secrets/wiki/Security-in-shared-environments
    - name: HELM_SECRETS_VALUES_ALLOW_SYMLINKS
      value: "false"
    - name: HELM_SECRETS_VALUES_ALLOW_ABSOLUTE_PATH
      value: "true"
    - name: HELM_SECRETS_VALUES_ALLOW_PATH_TRAVERSAL
      value: "false"
    - name: HELM_SECRETS_WRAPPER_ENABLED
      value: "true"
    - name: HELM_SECRETS_DECRYPT_SECRETS_IN_TMP_DIR
      value: "true"
    - name: HELM_SECRETS_HELM_PATH
      value: /usr/local/bin/helm
    # SOPS configuration
    - name: SOPS_AGE_KEY_FILE
      value: /helm-secrets-private-keys/age-private-keys.txt
  volumes:
    - name: gitops-tools
      emptyDir: {}
    - name: helm-secrets-private-keys
      secret:
        secretName: helm-secrets-private-keys
        defaultMode: 288 # "440" in octal
  volumeMounts:
    - mountPath: /gitops-tools
      name: gitops-tools
    - mountPath: /usr/local/sbin/helm
      subPath: helm
      name: gitops-tools
    - mountPath: /helm-secrets-private-keys/
      name: helm-secrets-private-keys
  initContainers:
    - name: download-tools
      image: alpine:3.23.2
      imagePullPolicy: IfNotPresent
      command: [sh, -ec]
      env:
        # renovate: datasource=github-releases depName=helm-secrets packageName=jkroepke/helm-secrets
        - name: HELM_SECRETS_VERSION
          value: "4.7.4"
        # renovate: datasource=github-releases depName=static-curl packageName=moparisthebest/static-curl
        - name: CURL_VERSION
          value: "8.17.0"
        # renovate: datasource=github-releases depName=sops packageName=getsops/sops
        - name: SOPS_VERSION
          value: "3.11.0"
      args:
        - |
          mkdir -p /gitops-tools/helm-plugins
          wget -qO- https://github.com/jkroepke/helm-secrets/releases/download/v${HELM_SECRETS_VERSION}/helm-secrets.tar.gz | tar -C /gitops-tools/helm-plugins -xzf-
          cp /gitops-tools/helm-plugins/helm-secrets/scripts/wrapper/helm.sh /gitops-tools/helm

          GO_ARCH=$(uname -m | sed -e 's/x86_64/amd64/')
          wget -qO /gitops-tools/curl https://github.com/moparisthebest/static-curl/releases/download/v${CURL_VERSION}/curl-${GO_ARCH}

          GO_ARCH=$(uname -m | sed -e 's/x86_64/amd64/' -e 's/\(arm\)\(64\)\?.*/\1\2/' -e 's/aarch64$/arm64/')
          wget -qO /gitops-tools/sops https://github.com/getsops/sops/releases/download/v${SOPS_VERSION}/sops-v${SOPS_VERSION}.linux.${GO_ARCH}

          chmod +x /gitops-tools/*
      volumeMounts:
        - mountPath: /gitops-tools
          name: gitops-tools
  resources:
    requests:
      cpu: 473m
      memory: 1Gi
    limits:
      memory: 1Gi

configs:
  cm:
    dex.config: |
      connectors:
        - type: oidc
          id: authelia
          name: Authelia
          config:
            issuer: https://auth.balutoiu.com
            clientID: argocd
            clientSecret: $dex.authelia.oidc.clientSecret
            insecureEnableGroups: true
            userNameKey: preferred_username
            getUserInfo: true
            scopes:
              - profile
              - email
              - groups
    helm.valuesFileSchemes: >-
      secrets+age-import, secrets+age-import-kubernetes,
      secrets,secrets+literal,
      https
  rbac:
    scopes: "[email, groups]"
    policy.default: role:readonly
    policy.csv: |
      g, k3s-admins, role:admin
  params:
    server.insecure: true
    controller.sync.timeout.seconds: 300 # 5 minutes
  secret:
    createSecret: false # We manage it with external secrets

notifications:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  argocdUrl: https://argo.internal.balutoiu.com
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
    limits:
      memory: 100Mi
