resources:
  requests:
    cpu: 3m
    memory: 96Mi
  limits:
    memory: 96Mi

webhook:
  resources:
    requests:
      cpu: 3m
      memory: 96Mi
    limits:
      memory: 96Mi

certController:
  resources:
    requests:
      cpu: 3m
      memory: 128Mi
    limits:
      memory: 128Mi
