apiVersion: v1
kind: ConfigMap
metadata:
  name: monitoring-mimir-alertmanager-configs
data:
  k3s-ceplea: |
    route:
      group_by: ["alertname"]
      receiver: "default-notifications"
      routes:
        - receiver: "null"
          matchers:
            - alertname = "Watchdog"
        - receiver: "null"
          matchers:
            - alertname = "KubeCPUOvercommit"
        - receiver: "null"
          matchers:
            - alertname = "KubeMemoryOvercommit"
        - receiver: "default-notifications-without-resolved"
          matchers:
            - alert_source = "loki"
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 6h
    inhibit_rules:
      - source_matchers:
          - severity="critical"
        target_matchers:
          - severity=~"warning|info"
        equal:
          - namespace
          - alertname
      - source_matchers:
          - severity="warning"
        target_matchers:
          - severity="info"
        equal:
          - namespace
          - alertname
      - source_matchers:
          - alertname="InfoInhibitor"
        target_matchers:
          - severity="info"
        equal:
          - namespace
      - target_matchers:
          - alertname="InfoInhibitor"
    receivers:
      - name: "null"
      - name: "default-notifications"
        discord_configs:
          - send_resolved: true
            title: '{{ template "discord.title" . }}'
            message: '{{ template "discord.message" . }}'
            webhook_url: $DISCORD_ALERTS_WEBHOOK_URL
      - name: "default-notifications-without-resolved"
        discord_configs:
          - send_resolved: false
            title: '{{ template "discord.title" . }}'
            message: '{{ template "discord.message" . }}'
            webhook_url: $DISCORD_ALERTS_WEBHOOK_URL
    templates:
      - discord.tmpl

  k3s-buc: |
    route:
      group_by: ["alertname"]
      receiver: "default-notifications"
      routes:
        - receiver: "null"
          matchers:
            - alertname = "Watchdog"
            - alertname = "KubeCPUOvercommit"
            - alertname = "KubeMemoryOvercommit"
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 6h
    inhibit_rules:
      - source_matchers:
          - severity="critical"
        target_matchers:
          - severity=~"warning|info"
        equal:
          - namespace
          - alertname
      - source_matchers:
          - severity="warning"
        target_matchers:
          - severity="info"
        equal:
          - namespace
          - alertname
      - source_matchers:
          - alertname="InfoInhibitor"
        target_matchers:
          - severity="info"
        equal:
          - namespace
      - target_matchers:
          - alertname="InfoInhibitor"
    receivers:
      - name: "null"
      - name: "default-notifications"
        discord_configs:
          - send_resolved: true
            title: '{{ template "discord.title" . }}'
            message: '{{ template "discord.message" . }}'
            webhook_url: $DISCORD_ALERTS_BUC_WEBHOOK_URL
    templates:
      - discord.tmpl
