global:
  alwaysAppendIdentifierToResourceName: true

controllers:
  www-balutoiu:
    containers:
      files-browser-frontend:
        image:
          repository: ghcr.io/ionutbalutoiu/files-browser-frontend
          pullPolicy: IfNotPresent
          tag: 0.6.0
        probes:
          readiness:
            enabled: true
          startup:
            enabled: true
        resources:
          requests:
            cpu: 10m
            memory: 128Mi
          limits:
            memory: 128Mi
        ports:
          - containerPort: 80
            name: http
            protocol: TCP
      files-browser-backend:
        image:
          repository: ghcr.io/ionutbalutoiu/files-browser-backend
          pullPolicy: IfNotPresent
          tag: 0.12.0
        env:
          FILES_SVC_BASE_DIR: /storage/files
          FILES_SVC_PUBLIC_BASE_DIR: /storage/files-public
        resources:
          requests:
            cpu: 5m
            memory: 512Mi
          limits:
            memory: 512Mi
        ports:
          - containerPort: 8080
            name: http
            protocol: TCP
      openssh-server:
        image:
          repository: lscr.io/linuxserver/openssh-server
          pullPolicy: IfNotPresent
          tag: 10.2_p1-r0-ls216 # https://hub.docker.com/r/linuxserver/openssh-server
        env:
          TZ: Europe/Bucharest
          PUID: 101
          PGID: 101
          USER_NAME: files
          PUBLIC_KEY_DIR: /ssh-pub-keys
        resources:
          requests:
            cpu: 20m
            memory: 128Mi
          limits:
            memory: 128Mi
        ports:
          - containerPort: 2222
            name: ssh
            protocol: TCP

service:
  files-browser-frontend:
    controller: www-balutoiu
    primary: true
    ports:
      http:
        port: 80
  openssh-server:
    controller: www-balutoiu
    type: LoadBalancer
    primary: false
    annotations:
      external-dns.alpha.kubernetes.io/hostname: www-balutoiu.internal.balutoiu.com
    ports:
      ssh:
        port: 22
        protocol: TCP
        targetPort: 2222

route:
  root:
    parentRefs:
      - name: traefik-gateway
        namespace: traefik-external
    hostnames:
      - balutoiu.com
    rules:
      - name: redirect-to-ionut
        matches:
          - path:
              type: PathPrefix
              value: /
        filters:
          - type: RequestRedirect
            requestRedirect:
              hostname: ionut.balutoiu.com
              port: 443
              scheme: https
              statusCode: 301
  files-external:
    parentRefs:
      - name: traefik-gateway
        namespace: traefik-external
    hostnames:
      - files.balutoiu.com
    rules:
      - name: files-external
        matches:
          - path:
              type: PathPrefix
              value: /
        backendRefs:
          - identifier: files-browser-frontend
  files-internal:
    parentRefs:
      - name: traefik-gateway
        namespace: traefik-internal
    hostnames:
      - files.internal.balutoiu.com
    rules:
      - name: files-internal
        matches:
          - path:
              type: PathPrefix
              value: /
        backendRefs:
          - identifier: files-browser-frontend

configMaps:
  ssh-pub-keys:
    data:
      iony-mba: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCYdmNB3np8OLc49B4cAh59CdNYIb4fAq2XBQ1sbOZMMZmhpFobyy+i6s4lBnovMNWAB6HmpsECHrKRU4IFl9lQ7vV+++J08SLoAkl6G0Gk9tmbgEs+/ovCZg+qUfZA1ZccSAPHmtqfZOiJcnlIlhQq2BoFnLUwmpeIQ4H5D+Y2q7DMdyGkdCenH80aD5KuiwLIyiBL9q7RYz0U5cdCO3wDFU4+5XuZiT8VYDUgp3mWPpAiPdGsJmCn41tpt3PViPDQlKh4vLW0ieQUJI/v2f6oHbM9YkxSoVlwLcrjTv+Nl+dVymqVTF4UaT1kz+ZnoH6khKZxSHvKm9YHc4LNZKYoVdyCxdZvBfxbEbXpT702vLqDNGEfZSlzJs5kVqP30m8fI/yzTQeD7tgjzzrKWdLZacyo+9cWeH6nFfZAQuZ9ug1lv3UAs5x6MsidEH5u6Iymi8BE+mUsOXnSpSfUDDo5n6+CMVe93brdW21iSX9Hbuz5RKB6xile1ROHpvpi1u7VQ9Hp3FIZFFiix9S5jniyB2OqjGKTO6RULfPsJo8sXCLq9YKq9zrkpMv5wURMQKnjtS5OHUWh0cde3U/VikPIfLkzEsfLV8ICAksyuWHQJGVUMxhPmSTKtRsPScbklekT+n65rexDt4Qr73YOy9BUIPV4Mo+kkl4ugQd6VCKJ6w==
      iony-wsl: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC0MD0qR6woK3aqPuwv5uTbwW1I+4YzcPaj4P4SqnDY//GdwdrTK8KY8M1xtQNX4xktvvkQrvo7Oje5cnQPjeAKClQcjqtX1cvtB3AIs14MghW0ETJDLgXozBo2q7mSvxcrR941Y2cyDLSdbYyCXdwiWGnyUPv4pN5q4LqFKayaTSUZ2tSt+4okVarljDXyqRPP6g4wSrFpKtmpD4jCTa6hCg2kCBXkr4sWu0FL/CSYKm4TkksRPzp6FpS4TYndklpSpoc/Q+c0O/bdZ9xO87pSLWrWPQ5hO58SwfJib50Z5KYL80IvLjOEebwEDY0VXcKnhh/CrRNrPbF8Yf+3MbPcJNybH61YAco7OjLJ4bqR8Fwa4mVhor1uzIqyzXrkgNHXGFx/i5cAd85Ip87w24JFYkvjv9VmklKh4lXKSGpHGBnRMXbTeknpYwPDmTxrmklQYAcZYTMcsSQ9deUTRLt+qILrJUt/mYHfrzihfXGJviRRD4SvOmMJURDxanmvuuM=
      tekmetric-mbp: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIALGCJaYsIYPbn9Kr9CrckwnE+ZPGoO6nxANmaNr6elG

persistence:
  www:
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    storageClass: longhorn-2r
    size: 5Gi
    globalMounts:
      - path: /storage

  ssh-config:
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    storageClass: longhorn-2r
    size: 128Mi
    advancedMounts:
      www-balutoiu:
        openssh-server:
          - path: /config

  ssh-pub-keys:
    type: configMap
    identifier: ssh-pub-keys
    advancedMounts:
      www-balutoiu:
        openssh-server:
          - path: /ssh-pub-keys
            readOnly: true
