global:
  alwaysAppendIdentifierToResourceName: true

controllers:
  kafka-ui:
    initContainers:
      init-config:
        image:
          repository: busybox
          pullPolicy: IfNotPresent
          tag: 1.37.0
        command:
          - cp
        args:
          - /config.yaml
          - /etc/kafkaui/dynamic_config.yaml
    containers:
      main:
        image:
          repository: docker.io/provectuslabs/kafka-ui
          pullPolicy: IfNotPresent
          tag: v0.7.2
        env:
          DYNAMIC_CONFIG_ENABLED: "true"
        probes:
          readiness:
            enabled: true
            type: HTTP
            path: /actuator/health/readiness
        resources:
          requests:
            cpu: 10m
            memory: 512Mi
          limits:
            memory: 1Gi
        ports:
          - containerPort: 8080
            name: http
            protocol: TCP

service:
  kafka-ui:
    controller: kafka-ui
    primary: true
    ports:
      http:
        port: 8080

route:
  kafka-ui:
    parentRefs:
      - name: traefik-gateway
        namespace: traefik-internal
    hostnames:
      - kafka-ui.internal.balutoiu.com
    rules:
      - name: kafka-ui
        matches:
          - path:
              type: PathPrefix
              value: /
        backendRefs:
          - identifier: kafka-ui

configMaps:
  config:
    data:
      config.yaml: |
        auth:
          type: DISABLED
        kafka:
          clusters:
          - bootstrapServers: monitoring-mimir-kafka.monitoring-mimir.svc.cluster.local.:9092
            name: mimir-kafka
            properties: {}
            readOnly: false
        rbac:
          roles: []
        webclient: {}

persistence:
  config:
    type: configMap
    identifier: config
    advancedMounts:
      kafka-ui:
        init-config:
          - path: /config.yaml
            readOnly: true
            subPath: config.yaml

  etc:
    type: emptyDir
    globalMounts:
      - path: /etc/kafkaui
