preUpgradeChecker:
  jobEnabled: false

persistence:
  defaultClass: true
  defaultFsType: ext4
  defaultClassReplicaCount: 2
  defaultDataLocality: best-effort
  reclaimPolicy: Delete

ingress:
  enabled: true
  host: longhorn.internal.balutoiu.com
  ingressClassName: traefik-internal

metrics:
  serviceMonitor:
    enabled: true

defaultBackupStore:
  backupTarget: s3://longhorn-backups@garage/
  backupTargetCredentialSecret: longhorn-backups-s3-creds
