name: "Argo CD App Diff"

on:
  pull_request:
    branches:
      - main
    paths:
      - argo-cd/apps/**
      - argo-cd/extras/**
      - argo-cd/helm_values/**

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  argocd-app-diff:
    runs-on: home-ubuntu-k8s

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Prerequisites
        shell: bash
        env:
          # renovate: datasource=github-releases depName=argocd-cli packageName=argoproj/argo-cd
          ARGOCD_VERSION: v3.3.0
          # renovate: datasource=github-releases depName=gh packageName=cli/cli
          GH_VERSION: v2.86.0
          # renovate: datasource=github-releases depName=yq packageName=mikefarah/yq
          YQ_VERSION: v4.52.1
        run: |
          set -eo pipefail

          curl -sSL -o /tmp/argocd-linux-amd64 https://github.com/argoproj/argo-cd/releases/download/${ARGOCD_VERSION}/argocd-linux-amd64
          sudo install -m 555 /tmp/argocd-linux-amd64 /usr/local/bin/argocd
          rm /tmp/argocd-linux-amd64

          curl -sSL -o /tmp/gh_linux_amd64.tar.gz https://github.com/cli/cli/releases/download/${GH_VERSION}/gh_${GH_VERSION#v}_linux_amd64.tar.gz
          tar -xzf /tmp/gh_linux_amd64.tar.gz -C /tmp
          sudo install -m 555 /tmp/gh_${GH_VERSION#v}_linux_amd64/bin/gh /usr/local/bin/gh

          curl -sSL -o /tmp/yq_linux_amd64.tar.gz https://github.com/mikefarah/yq/releases/download/${YQ_VERSION}/yq_linux_amd64.tar.gz
          tar -xzf /tmp/yq_linux_amd64.tar.gz -C /tmp
          sudo install -m 555 /tmp/yq_linux_amd64 /usr/local/bin/yq

      - name: Login to Argo CD
        shell: bash
        run: |
          set -eo pipefail
          argocd login --grpc-web --name k3s-ceplea argo.internal.balutoiu.com --username admin --password ${{ secrets.K3S_CEPLEA_ARGOCD_ADMIN_PASSWORD }}
          argocd login --grpc-web --name k3s-buc argo.internal.buc.balutoiu.com --username admin --password ${{ secrets.K3S_BUC_ARGOCD_ADMIN_PASSWORD }}

      - name: Diff Argo CD app
        shell: bash
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          set -eo pipefail
          PR_NUMBER=$(jq --raw-output .pull_request.number "$GITHUB_EVENT_PATH")
          ./scripts/argo-cd/post-gh-pr-diff-comment.sh $PR_NUMBER
